# Server
NODE_ENV=development
PORT=4000

# PostgreSQL (Prisma will use this)
# Format:
# postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/goshop_backend?schema=public"
